# Laravel
/vendor
/node_modules
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/pail

# Laravel environment
.env
.env.backup
.env.production

# PHPUnit
/.phpunit.cache
.phpunit.result.cache

# IDEs & Editors
/.idea
/.vscode
/.fleet
/.zed
.DS_Store
Thumbs.db

# Auth & config
auth.json
.phpactor.json

# Debug
npm-debug.log
yarn-error.log

# Homestead
Homestead.json
Homestead.yaml

# Logs
*.log